*
    margin: 0
    padding: 0
    box-sizing: border-box

@font-face 
    font-famly: Bebas
    src: url(../fonts/Bebas-Regular.otf)
    font-weight: regular
body
    font-family: bebas
.container
    border: 1px solid black
    width: 100%
    .menu
        display: flex
        justify-content: space-around
        .logo
    .peak
        width: 100%


header
    position: absolute
    width: 100%
    border: 1px solid black

    display: flex
    justify-content: space-around
    align-items: center
    .menu
        ul
            list-style: none
            display: flex
            li
                margin-left: 50px
                a
                    color: white
                    line-height: 4px
.logo
    width: 5%
.one, .menu .logo-container .title .one
    color: #4d4d4d
.two, .menu .logo-container .title .two
    background: -webkit-linear-gradient(#414f6b, #333)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
.logo-container
    display: flex
    align-items: center
    .title
        text-align: center
    .logo
        width: 40%
        border: 1px solid black
    .menu
.image-container
    .title
        text-align: center
        font-size: 170px
        margin-top: -50vh
        margin-left: -13%
        font-weight: 1
        line-height: 0.8
        
    .mountains
        margin-top: -13%
    .sky, .mountains
        width: 100%